.header{
    background-image: url("img/bgi.jpeg");
    background-size: cover;
    height: 1024px;
}
.tex{
    font-size: 24px;
    font-family: "Inter";
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 29px;
    margin-top: 55px;
    margin-left: 156;

}
.flex1{
    display: flex;
    margin: 0;
    gap: 30px;
}
.item1{
    list-style: none;
    
}
body{
    margin: 0;
}
html{

}
.h11{
    color: rgb(255, 255, 255);
    font-family: "Inter"        ;
    font-size: 70px;
    font-weight: 200;
    line-height: 85px;
    margin-left: 146px;
    margin-top: 155px;
}
.lorem1{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
    width: 570.25px;
    height: 200px;
    margin-left: 160px;
    margin-top: 22px;
    margin-bottom: 0;
}
.button1{
    border-radius: 17px;
    background: rgb(180, 123, 72);
    width: 207px;
    height: 57px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: rgb(255, 255, 255);
    margin-left: 157px;
    margin-top: 3px;
    margin-bottom: 125;
}
.item2{
    list-style: none;
    
}
.vid1{
    width: 310px;
    height: 225px;
    background-color: rgb(39, 39, 39); 
    margin-left: 70px;

}
.vid2{
    width: 310px;
    height: 225px;
    background-color: rgb(39, 39, 39);  
}
.vid3{
    width: 310px;
    height: 225px;
    background-color: rgb(39, 39, 39); 
}
.flex2{
    display: flex;
    gap: 104px;
}
.im1{

}
.im2{
   width: 213px;
   height: 225px; 
}
.im3{
    
}
.sec1{

}
.sec2{

}
.sec3{

}
.h31{

}
.h32{
    
}
.h33{
    
}
.p1{

}
.p2{
    
}
.p3{
    
}
.vid1{
    display: flex;
}
.vid2{
    display: flex;
}
.vid3{
    display: flex;
}
.vid1:hover{
    background-color: rgb(235, 173, 81);
}
.vid2:hover{
    background-color: rgb(235, 173, 81);
}
.vid3:hover{
    background-color: rgb(235, 173, 81);
}