.header{
    background-image: url("img/bgi.jpeg");
    background-size: cover;
    /* height: 1024px; */
}
.tex{
    font-size: 24px;
    font-family: "Inter";
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 29px;
    margin-top: 55px;
    margin-left: 156;

}
.flex1{
    display: flex;
    margin: 0;
    gap: 30px;
}
.item1{
    list-style: none;
    
}
body{
    margin: 0;
}
html{

}
.h11{
    color: rgb(255, 255, 255);
    font-family: "Inter"        ;
    font-size: 70px;
    font-weight: 200;
    line-height: 85px;
    margin-left: 146px;
    margin-top: 155px;
}
.lorem1{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
    width: 570.25px;
    height: 200px;
    margin-left: 160px;
    margin-top: 22px;
    margin-bottom: 0;
}
.button1{
    border-radius: 17px;
    background: rgb(180, 123, 72);
    width: 207px;
    height: 57px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: rgb(255, 255, 255);
    margin-left: 157px;
    margin-top: 3px;
    margin-bottom: 125px;
}
.item2{
    list-style: none;
    
}
.vid1{
    width: 310px;
    height: 225px;
    background: linear-gradient(65.47deg, rgb(0, 0, 0) -79.118%,rgba(0, 0, 0, 0) 73.925%);
    background-color: rgb(39, 39, 39); 
    margin-left: 70px;
}
.vid2{
    width: 310px;
    height: 225px;
    background-color: rgb(39, 39, 39);  
}
.vid3{
    width: 310px;
    height: 225px;
    background-color: rgb(39, 39, 39); 
}
.flex2{
    display: flex;
    gap: 104px;
}
.im1{
    width: 150px;
    height: 225px;
    margin-top: -23px;
}
.im2{
   width: 213px;
   height: 225px; 
}
.im3{
    width: 193px;
    height: 193px;
}
.sec1{

}
.sec2{

}
.sec3{

}
.h31{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
}
.h32{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 200;
    line-height: 29px; 
}
.h33{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
}
.p1{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.p2{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.p3{
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.vid1{
    display: flex;
    margin-bottom: 36px;
}
.vid2{
    display: flex;
    margin-bottom: 36px;
}
.vid3{
    display: flex;
    margin-bottom: 36px;
}
.vid1:hover{
    background-color: rgb(235, 173, 81);
}
.vid2:hover{
    background-color: rgb(235, 173, 81);
}
.vid3:hover{
    background-color: rgb(235, 173, 81);
}
.button2{
    width: 79px;
    height: 34px;
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    background-color: rgb(200, 83, 18);
}
.button3{
    width: 79px;
    height: 34px;
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    background-color: rgb(200, 83, 18);
}
.button4{
    width: 79px;
    height: 34px;
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    background-color: rgb(200, 83, 18);
}
.container{
    margin: 0 auto;
    outline: 1px solid blue;
    display: block;
    width: 1300px;
}